################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.mypy_cache/3.6
03_log_files/experiment.log
calc_n_input.json
